@{
    Layout = "_SiteLayout.cshtml";
    this.PageData["menu"] = "Contact";
}




@section carosel {
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="./images/slide-03.jpg" alt="The 12 O'Clock Shadow Band">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Contact Us.</h1>
                        <p class="lead">We're pretty easy to find.  We would love to come play for you.</p>
                        <a class="btn btn-large btn-primary" href="#">Book us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<p>
    Really.  We're not hard to find.  Drop us a line on <a href="http://www.facebook.com/The12OClockShadows">Facebook</a>, <a href="mailto:band@12oclockshadow.com">email us</a>, or just pick up the phone.
</p>

<dl class="dl-horizontal">
    <dt>Email</dt>
    <dd><a href="mailto:band@12oclockshadow.com">band@12oclockshadow.com</a></dd>
    <dt>Phone</dt>
    <dd>(425) 298 5773</dd>
    <dt>Twitter</dt>
    <dd><a href="http://twitter.com/12oclockshadow">@@12oclockshadow</a></dd>
    <dt>Facebook</dt>
    <dd><a href="http://www.facebook.com/The12OClockShadows">The12OClockShadows</a></dd>
</dl>
